<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77867998405-p3ct383cb1vldnqci5uslbei5clgfufu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77867998405-p3ct383cb1vldnqci5uslbei5clgfufu</string>
	<key>API_KEY</key>
	<string>AIzaSyBhhcWuFNRIxIQTvcsD_lqBN3YxyW3UKyg</string>
	<key>GCM_SENDER_ID</key>
	<string>77867998405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alexeymorozov.SocialAppVK</string>
	<key>PROJECT_ID</key>
	<string>gb-socialappvk</string>
	<key>STORAGE_BUCKET</key>
	<string>gb-socialappvk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77867998405:ios:cd7a7ff96f3167a6e6a4ac</string>
</dict>
</plist>